<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="devall_linkedin" translate="label" sortOrder="10">
            <label>Devall Linkedin</label>
        </tab>
        <section id="devall_linkedin" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Linkedin options</label>
            <tab>devall_linkedin</tab>
            <resource>Devall_Linkedin::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Linkedin options</label>
                <field id="linkedin_visibility" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Linkedin Profile Visibility</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="linkedin_required" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Linkedin Profile Required</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <backend_model>Devall\Linkedin\Model\Config\Backend\UpdateLinkedinRequiredStatus</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
